extends ../layouts/default

block content
	.container
		.gallery
			if galleries.length
				each gallery in galleries					
					.row.gallery-images
						each image in gallery.images
							.col-xs-12.col-sm-6.col-md-4.gallery-image
								a(href=image.limit(800,800) )
									img(src=image.limit(800,800)  id="drag")
			else
				h3.text-muted There are no image galleries yet.