include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || '3201 de Beaurivage'
		link(rel="shortcut icon", href="../../public/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		//- HEADER
		#header: .container
			if galleries.length
				each gallery in galleries					
					.row.gallery-images
						if gallery.heroImage.exists
							.col-sm-12.col-md-5.header-cover
								img(src=gallery._.heroImage.limit(680,680))
							.col-sm-12.col-md-7.info
								h1 Maison à vendre
								h1 3201 de Beaurivage
								h2 Montréal, QC H1L 5W8		
								a(href="https://goo.gl/maps/u3biihtEKwx" target="_blank" class='maps-btn')
									i(class="fas fa-map-marker-alt") 
									p Voir sur la map							
								hr
								.description
									p À pied du métro Honoré-Beaugrand et train de banlieue, accès rapide aux autoroute 25 et 40, maison unifamiliale détachée avec  1 place de stationnement privée. 
									p Propriété bien entretenue. Belle cour arrière très tranquille.  
									p À proximité des garderies, écoles primaires et  secondaires, cégep, hôpitaux, parcs, épicerie, golf... 
								.details
									.row
										.col-md-6
											.el
												i(class="fas fa-bed") 
												p 3 chambres à coucher
											.el
												i(class="fas fa-bath") 
												p 1 salle de bain	
											.el
												i(class="fas fa-couch") 
												p 1 salon	
											.el
												i(class="fas fa-utensils") 
												p 1 cuisine																			
											.el
												i(class="fas fa-th-large") 
												p Superficie du terrain: 50 pi x 80 pi (4000 pi&#178;)
											.el
												i(class="fas fa-home") 
												p Aire habitable: 36 pi x 25 pi (900 pi&#178;)
											.el
												i(class="fas fa-tree") 
												p Cours arrière: 28 pi x 50 pi
										.col-md-6
											.el
												i(class="fas fa-bolt") 
												p Mode de chauffage: électrique
											.el
												i(class="fas fa-exclamation-triangle") 
												p Sécurité : Système d'alarme 
											.el
												i(class="fas fa-building") 
												p Année de construction : 1950 
											.el
												i(class="fas fa-edit") 
												p Évaluation municipale : $ 249,600.00 
											.el
												i(class="fas fa-percentage") 
												p Taxes scolaires: $394.80 
												p Taxes municipales: $2184.58
											.el
												i(class="fas fa-balance-scale") 
												p Propriété vendue sans garantie légale 																						 										 										 																																																		
								hr
								.prix
									h2 Prix demandé: 
										span $329,500.00
								p.date Propriété avec un bail valide jusqu'au 30 Juin 2019.

								.contact
									h2 Contacter:
									.box.col-sm-6.col-md-6
										i(class="fas fa-phone-square") 
										a(href="tel:514-808-5751") 514-808-5751
									.box.col-sm-6.col-md-6
										i(class="fas fa-envelope-square") 
										a(href='mailto:mikebarry04@gmail.com') mikebarry04@gmail.com								
				hr



		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		.container: #footer

			//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
			p Website created by <a href="mailto:john.olivierb@gmail.com" target="_blank">John Barry</a>.


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-1.11.3.min.js')
		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')



		script(src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.js")
		script.
			baguetteBox.run('.gallery',{
				noScrollbars: true
			});

		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-128920677-3")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-128920677-3');








<!-- 3. Have fun! -->
	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

	//- Add scripts that are globally required by your site here.

	//- Include template-specific javascript files by extending the js block
	block js
