body, html,i{
	font-family: 'Open Sans', sans-serif;
	color: black
}
#header {
	margin-top: 50px;
}
#header hr:nth-child(2){
	margin:40px 0px 50px 0px;
}
#footer {
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
	margin: 15px 0px 15px 0px;
    display: block;
    max-width: 100%;
	height: 250px;
	width: 100%;
	object-fit: cover;

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.gallery-image img:hover{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transform: scale(1.1);

}

.header-cover img{
	display: block;
    max-width: 100%;
	height: 580px;
	width: 100%;
	padding-bottom: 25px;
	object-fit: cover
}
.maps-btn{
	background-color: white !important;	
	border: 1px solid black !important;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.maps-btn:hover{
	padding-left: 25px;
	text-decoration: none;
}
.maps-btn:active{

	background-color: rgb(243, 243, 243) !important;	
}
.maps-btn:link{
	text-decoration: none;
}
.maps-btn {
	border-radius: 5px;
	text-decoration: none;
	margin-top: 10px !important;
	font-size: 15px;
   	padding: 15px 15px 5px 20px;
	p, i {
		display: table-cell;
		vertical-align: middle;
		padding-right:5px;
		color: black;
	}

}
.description{
	p{
		font-size: 15px;
	}
	padding: 0px 0px 10px 0px;
	h4{
		padding: 15px 0px 0px 0px;
	}
}
.info{
	h1:nth-child(1){
		padding: 0px;
		margin: 0px;
		font-size: 28px;
		font-weight: 500;
	}
	h1:nth-child(2){
		padding: 0px;
		margin: 0px;
		font-size: 32px;
		font-weight: bold;
	}
	h2:nth-child(3){
		margin:10px 0px 25px 0px;
		font-size: 18px;
	}

	hr{
		margin:25px 0px 25px 0px;
	}

	.details{
		font-size: 14px;
		font-weight: 600;
		i{
			font-size: 15px;
			float: left;
			padding-right: 10px;
		}
		p {
			font-size: 13px;
			display: table !important;
			vertical-align: middle;
		}

		.el{
			padding: 2px 0px 2px 0px;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}
		/*.el:hover{
			padding-left: 5px;
			cursor: pointer;
		}*/

	}
	.prix{
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 15px;
		border-radius: 3px;
		margin-bottom: 10px;
		h2{
			margin: 0px ;
			font-size: 22px;
			font-weight: 500 !important;
		}
		h2 span{
			font-weight: 600;
		}
	}
	.contact{
		margin-top: 35px;
		font-weight: 600;
		h2{
			font-size: 20px;
		}
		i{
			padding-right: 5px;
		}
		i,a {
			display: table-cell;
			vertical-align: middle;
		}
		.box{
			padding: 0px;
			font-size: 16px;
			font-weight: bold;
			border-radius: 3px;
			border:1px solid rgba(245, 245, 245, 0);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);

			a{
				text-align: center;	
				text-decoration: none;
				color: black;

			}

		}
		.box:hover{
			opacity: 0.8;
			cursor: pointer;
		}
	}
}

@media (max-width: 992px){
	.gallery-image img{
	height: 300px;
	}
	.info{
		h1:nth-child(1){
			font-size: 35px;
		}
	.prix{
			h2{
				font-size: 22px;
			}
		}
	}

}
@media (max-width: 768px){
	.header-cover img{
		display: none;
	}
	#header {
		margin-top:25px;
	}
.info{
	margin-top: 0px;
	padding: 20px;
	text-align: center;
	hr:nth-child(3){
		margin: 25px 0px 25px 0px;
	//	margin: 0 auto;
	}
	h1:nth-child(1){
		font-size: 40px;
	}

	.prix{
		text-align: center;
	}
	.contact {
		margin-top: 50px;
		.box{
			display: inline-block;
			margin:10px;
		}
	}

	.details{
		i{
			float: none;
			padding-right: 10px;
		}
		p {
			display: inline !important;
			vertical-align: middle;
		}
		.el{
			padding: 5px 0px 5px 0px;
		}
	}
}

}
@media (max-width: 1281px){

}

